.container3 {
  background-color: #ebebeb;
  display: table;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-top: 150px;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  border: 1px solid black;
}

.rstpassword {
  text-align: center;
}

.todo {
  font-weight: normal;
}

.email {
  width: 313px;
  height: 35px;
  border-radius: 3px;
  border: 1px solid black;
  font-size: 16px;
}

.sendbtn {
  background-color: black;
  color: white;
  padding: 10px 20px 10px 20px;
  float: right;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

.cancelbtn {
  background-color: black;
  color: white;
  padding: 10px 15px 10px 15px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 142px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

.title {
  width: 20%;
  margin-left: 150px;
  padding-top: 30px;
}

.tagline {
  margin-top: -25px;
  width: 20%;
  margin-left: 150px;
}

.img {
  height: 55vh;
  width: 209vh;
  position: relative;
}

.icon {
  margin-right: 8px;
}

.console {
  float: right;
  margin-top: -70px;
  margin-right: 150px;
}

.otpsendbtn {
  background-color: black;
  color: white;
  padding: 10px 15px 10px 15px;
  float: right;
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

.otpcancelbtn {
  background-color: black;
  color: white;
  padding: 10px 15px 10px 15px;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-left: 135px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  .rstpassword {
    font-size: 20px !important;
  }

  .todo {
    font-size: 17px;
  }

  .email {
    width: 279px;
    height: 35px;
    border-radius: 3px;
    border: 1px solid black;
    font-size: 16px;
  }

  .sendbtn {
    background-color: black;
    color: white;
    padding: 10px 20px 10px 20px;
    float: right;
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .cancelbtn {
    background-color: black;
    color: white;
    padding: 10px 15px 10px 15px;
    margin-top: 18px;
    margin-bottom: 18px;
    margin-left: 120px;
    font-size: 14px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .container3 {
    background-color: #ebebeb;
    display: table;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 150px;
    padding: 5px 20px 5px 20px;
    border-radius: 10px;
    border: 1px solid black;
  }

}