.maincontainer {
  background: url(./../images/StudentLoginBg.jpg) no-repeat center center fixed;
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 95vh;
  width: 100vw;
  margin-left: -8px;
  margin-top: -22px; */
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

}

.container2 {
  background-color: #ebebeb;
  display: table;
  /* margin: 110px 0px 0px 600px; */
  margin-left: auto !important;
  margin-right: auto !important;
  padding: 5px 30px 5px 30px;
  border-radius: 10px;
  border: 1px solid black;
}

.stdlogin {
  text-align: center;
}

.regNoLabel {
  font-weight: normal;
}

.batchinput {
  width: 100px;
  height: 39px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
}

.department {
  width: 100px;
  height: 35px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid black;
  background-color: white;
  font-size: 16px;
}

.department::placeholder {
  color: black;
}

.regNo {
  width: 100px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
}

.password {
  width: 327px;
  height: 35px;
  border-radius: 5px;
  border: 1px solid;
  font-size: 16px;
}

.password::placeholder {
  color: black;
}

.btn {
  background-color: black;
  color: white;
  padding: 8px 146px 8px 146px;
  margin-top: 18px;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
}

.title {
  width: 20%;
  margin-left: 100px;
  margin-top: -10px;
}

.tagline {
  margin-top: -25px;
  width: 20%;
  margin-left: 100px;
}

.img {
  height: 55vh;
  width: 209vh;
  position: relative;
}

/* .console {
  float: right;
  margin-top: 100px;
  margin-right: 100px;
} */
.forgotPassword {
  text-align: center;
  font-weight: normal;
  color: black;
}

.console {
  font-size: 26px;
}

.icon {
  height: 27px;
  width: 27px;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 320px) and (min-width: 320px) {
  .maincontainer {
    background: url(./../images/StudentLoginBg.jpg) no-repeat center center fixed;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
    height: 120vh !important;
    width: 112vw !important;

  }
}


@media screen and (max-width: 1440px) and (min-width: 1024px) {

  .container2 {
    background-color: #ebebeb;
    display: table;
    /* margin: 110px 0px 0px 600px; */
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: 1px solid black;
  }

  .title {
    width: 20%;
    margin-left: 30px !important;
    margin-top: -10px;
  }

  .tagline {
    margin-top: -25px;
    width: 25% !important;
    margin-left: 30px !important;
  }

  .console {
    font-size: 28px;
    margin-right: 40px !important;
  }

}

@media screen and (max-width: 1024px) and (min-width: 768px) {
  .container2 {
    background-color: #ebebeb;
    display: table;
    /* margin: 110px 0px 0px 600px; */
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: 1px solid black;
  }

  .title {
    width: 20%;
    margin-left: 30px !important;
    margin-top: -10px;
  }

  .tagline {
    margin-top: -25px;
    width: 25% !important;
    margin-left: 30px !important;
  }

  .console {
    font-size: 28px;
    margin-right: 40px !important;
  }
}

@media screen and (max-width: 768px) and (min-width: 560px) {
  .container2 {
    background-color: #ebebeb;
    display: table;
    /* margin: 110px 0px 0px 600px; */
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 5px 30px 5px 30px;
    border-radius: 10px;
    border: 1px solid black;
  }

  .title {
    width: 20%;
    margin-left: 50px !important;
    margin-top: -10px;
  }

  .tagline {
    margin-top: -25px;
    width: 25% !important;
    margin-left: 50px !important;
  }

  .console {
    font-size: 28px;
    margin-right: 60px !important;
  }
}


@media screen and (max-width: 375px) and (min-width: 320px) {
  .maincontainer {
    background-image: linear-gradient(to bottom, rgb(170, 170, 170), rgb(41, 41, 41)) !important;
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;

  }

  .container2 {
    background-color: #ebebeb;
    display: table;
    margin-top: 110px !important;
    /* margin: 110px 0px 0px 600px; */
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px !important;
    border-radius: 10px;
    border: 1px solid black;
  }

  .stdlogin {
    font-size: 18px;
  }

  .regNoLabel {
    font-size: 18px;
  }

  .batchinput {
    height: 36px;
    width: 70px;
  }

  .department {
    height: 32px;
    width: 70px;
  }

  .regNo {
    height: 32px;
    width: 70px;
  }

  .password {
    height: 32px;
    width: 236px;
  }

  .btn {
    background-color: black;
    color: white;
    padding: 8px 100px 8px 100px !important;
    margin-top: 18px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .title {
    font-size: 23px;
    margin-left: 20px !important;
    margin-top: -10px;
  }

  .tagline {
    font-size: 15px;
    margin-top: -17px !important;
    width: 100% !important;
    margin-left: 20px !important
  }

  .console {
    margin-top: -57px !important;
    font-size: 20px;
    margin-right: 30px !important;
  }

  .icon {
    display: none;
  }
}

@media screen and (max-width: 425px) and (min-width: 375px) {
  .maincontainer {
    background-image: linear-gradient(to bottom, rgb(170, 170, 170), rgb(41, 41, 41));
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
  }

  .icon {
    display: none;
  }

  .console {
    margin-top: -55px !important;
    font-size: 19px !important;
    margin-right: 20px !important;
  }

  .title {
    width: 20%;
    margin-left: 20px !important;
    font-size: 25px;
  }

  .tagline {
    margin-top: -20px !important;
    width: 50% !important;
    margin-left: 20px !important;
    font-size: 16px;
  }

  .container2 {
    background-color: #ebebeb;
    display: table;
    margin-top: 110px !important;
    /* margin: 110px 0px 0px 600px; */
    margin-left: auto !important;
    margin-right: auto !important;
    padding: 20px !important;
    border-radius: 10px;
    border: 1px solid black;
  }
}

@media screen and (max-width: 320px) and (min-width: 320px) {
  .maincontainer {
    background-image: linear-gradient(to bottom, rgb(170, 170, 170), rgb(41, 41, 41));
    position: absolute !important;
    top: 0 !important;
    bottom: 0 !important;
    right: 0 !important;
    left: 0 !important;
  }

  .icon {
    display: none;
  }

  .console {
    margin-top: -57px !important;
    font-size: 20px !important;
    margin-right: 20px !important;
  }

  .title {
    width: 20%;
    margin-left: 20px !important;
    font-size: 25px;
  }

  .tagline {
    margin-top: -18px !important;
    width: 50% !important;
    margin-left: 20px !important;
    font-size: 16px;
  }

  .container2 {
    background-color: #ebebeb;
    display: table;
    margin-top: 130px !important;
    /* margin: 110px 0px 0px 600px; */
    margin-left: auto !important;
    margin-right: auto !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    border-radius: 10px;
    border: 1px solid black;
  }
}